@import url("nothing.css");

html {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.84);
}

body,
button,
input,
select,
textarea {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: -0.072px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  /*font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;*/
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.1;
}

p,
ul,
ol {
  line-height: 1.58;
	margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

table {
  border-spacing: 0;
  border-color: black;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
}

thead {
  vertical-align: bottom;
}

th {
  font-weight: bold;
  text-align: left;
  border-style: double;
  border-width: 1px;
  border-bottom-style: double;
  border-bottom-width: 3px;
}

td {
  border-style: solid;
  border-width: 1px;
}

tbody {
  vertical-align: bottom;
}
