.fretboard-container {
  display:flex;
  justify-content: center;
  stroke: rgb(0,0,0);
  stroke-width: 1;
}

.fretboard-container .nut {
  stroke: rgb(0,0,0);
  stroke-width: 1;
  fill: rgb(252,252,238);
}

.fretboard-container .fretboard {
  fill: rgba(90, 74, 3, 0.753);
}

.fretboard-container .fret {
  stroke: rgb(192,192,192);
  stroke-width: 3;
}

.fretboard-container .string {
  stroke: rgb(189, 192, 21);
  stroke-width: 2;
}

.fretboard-container .note {
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}

.fretboard-container .note-label {
  font-size: 85%;
  fill: rgb(0, 0, 0);
  stroke-width: 0;
}

.fretboard-container .open-note-label {
  font-size: 85%;
  fill: rgb(0, 0, 0);
  stroke-width: 0;
}

.fretboard-container .dot {
  fill: rgb(0, 0, 0);
  stroke-width: 0;
}

/*
.fretboard-container .note-A {
  fill: rgb(212, 22, 22);
  stroke-width: 0;
}

.fretboard-container .note-label-A {
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}

.fretboard-container .note-Csharp {
  fill: rgb(218, 112, 13);
  stroke-width: 0;
}

.fretboard-container .note-label-Csharp {
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}

.fretboard-container .note-E {
  fill: rgb(20, 16, 211);
  stroke-width: 0;
}

.fretboard-container .note-label-E {
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}
*/