@import url("base.css");

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.site {
  background: #dddddd;
  min-height: 100vh;
}

.masthead,
.main-content,
.main-blog-content,
.twin,
.footer {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.song-chart {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.main-content-container,
.main-content,
.main-blog-content {
  background: white;
}

.masthead, .footer {
  background: rgb(138, 33, 33);
  color: white;
}

@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .masthead {
      display: grid;
      /* grid-template-columns: 75% auto; */
      grid-template-columns: minmax(auto, auto) minmax(auto, 20em);
      grid-template-rows: auto auto;
    }
  }
}

.masthead .site-title {
  font-size: 2.5em;
  text-decoration: none;
  border: none;
  margin-top: 0;
  margin-bottom: 0.25em;
  grid-row: 1;
  grid-column: 1;
}

.masthead .site-title a:hover {
  text-decoration: none;
}

.masthead .site-description {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  border: none;
  margin-top: 0;
  margin-bottom: 0.25em;
  grid-row: 2;
  grid-column: 1;
}

.masthead a {
  text-decoration: none;
}

.masthead a:hover {
  text-decoration: underline;
}

.masthead li {
  display: inline;
  padding-right: 1em;
}

.masthead li:last-of-type {
  padding-right: 0;
}

.masthead .site-nav {
  margin-left: auto;
  margin-right: 0;
  grid-row: span 2;
  grid-column: 2;
}

.masthead .site-nav ul {
  margin: 0;
}

.sidebar {
  background: #f9f9f9;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer aside ul {
  margin: 0;
}

.footer aside ul li {
  display: inline;
  padding-right: 1em;
}

.footer aside ul li:last-of-type {
  padding-right: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 700px;
}

.post-header .title {
  color: rgb(121, 9, 9);
  margin-top: 0.5em;
  font-size: 2.25em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.post-header .sub-title {
  color: rgb(116, 109, 108);
  font-size: 1em;
  text-decoration: none;  
  border: none;
  text-align: top;
}

.post-header .date {
  color: rgb(116, 109, 108);
  font-size: .75em;
  text-decoration: none;
  border: none;
  margin-bottom: 2em;
}

.post-body li {
  list-style-position: outside;
  margin-left: 2em;
}

.main-content li,
.main-blog-content li {
  list-style-position: outside;
  margin-left: 2em;
}

.post-body h1 {
  font-size: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
}

.post-body h2 {
  font-size: 1.2em;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

.post-body h3 {
  font-size: 1.1em;
  font-style: italic;
}

/*
.post-body table {
  margin-left: auto;
  margin-right: auto;
}
*/

/*
.post-body table tbody {
  list-style-position: outside;
  margin-left: 2em;
}
*/

.post-body table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.95rem;
  line-height: 1.5;
  border: 1px solid #000;
}

/* Header */
.post-body thead {
  background-color: #f5f7fa;
}

.post-body th {
  text-align: left;
  font-weight: 600;
  padding: 0.2rem 0.2rem;
}

/* Cells */
.post-body td {
  padding: 0.2rem 0.2rem;
  vertical-align: top;
}

/* Zebra striping */
.post-body tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.post-body .quote {
  margin-left: 1.5rem;               /* indent */
  padding: 0.75rem 1rem;             /* breathing room inside */
  font-style: italic;                /* subtle emphasis */
  background-color: #f6f8fa;       /* soft neutral background */
  border-left: 4px solid #d0d7de;  /* gentle visual anchor */
  border-radius: 4px;                /* slightly softened corners */
}
.featured-image-container,
.home-image-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

/* These styles are used in order to do the image transition on the home page.  There are two img elements that we need
   to have positioned on top of each other and of the same size.  We then load different images in sequence into these
   elements and toggle the hidden class on them so that one fades in as the other fades out.  See /js/home.js for the
   JavaScript to implement this.  We need the content that comes after these images to continue to flow though and that
   was tricky to figure out.  I first tried to have both img elements (see _layouts/home.html) be absolutely positioned
   but this took them both out of the layount flow.  Absolute position is relative to the parent element, in this case
   the div with class 'home-image-container'.  I needed to have that element have the same size (height + width) of its
   children (the two img elements).  Having it have the same width is easy (I just use width: max-content on it) but
   having it have the same height is not so easy.  In the end I realized that I didn't have to have BOTH the img
   elements use absolute positioning.  If I left the first one be relative then it would be in the layout flow and the
   parent ('home-image-container') would automatically have the same size as that child.  Then I could just select the
   LAST img element and have that be absolutely positioned (relative to the parent) and thus be on top of the other,
   relatively positioned img.  Voila. :last-of-type is very useful. */

.home-image {
  position: relative;
  opacity: 1;
  transition: opacity 2s linear;
}

.home-image:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
}

.home-content {
  position: relative;
}

.hidden {
  opacity: 0
}

.featured-image-container a,
.home-image-container a
 {
  display: block;
  margin: auto;
  width: max-content;
}

.sql-result-table thead {
  background: #a09d9d;
  padding: 0.25em;
}

.sql-result-table th {
  padding: 0.25em;
}

.sql-result-table tr:nth-child(even) {
  background: #ededed;
}

.sql-result-table td {
  padding: 0.25em;
}

.blog-post-list {
  margin: 0;
}

.blog-post-list li {
  margin: 0;
}

.blog-post-list-item {
  display: grid;
  grid-template-columns: 130px 130px auto;
  grid-template-rows: 1.5em auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(128, 128, 128, 0.2);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style-type: none;
  margin: 0;
}

.faq-list-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(128, 128, 128, 0.2);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style-type: none;
}

.blog-post-list-item .date,
.faq-list-item .date {
  grid-row: span 2;
  grid-column: 1;
  margin: 0;
  font-family: monospace;
}

.blog-post-list-item .featured-image-container {
  grid-row: span 2;
  grid-column: 2;
  margin: 0;
}

.blog-post-list-item .featured-image {
  display: relative;
}

.blog-post-list-item a,
.faq-list-item a {
  /* margin: 1em; */
  text-decoration: none;
}

.blog-post-list-item .title,
.faq-list-item .title {
  grid-row: 1;
  grid-column: 3;
  /* margin: 1em; */
  color: rgb(138, 33, 33);
}

.blog-post-list-item .sub-title,
.faq-list-item .sub-title {
  grid-row: 2;
  grid-column: 3;
  font-size: 0.85em;
  /* margin: 1em; */
  /* color: rgb(138, 33, 33); */
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .site {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/


@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .site {
      display: grid;
      /* grid-template-columns: auto minmax(auto, 50em) minmax(auto, 10em) auto; */
      grid-template-columns: auto minmax(auto, 70em) auto;
      /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
      grid-template-rows: 7em auto 2.5em;
      /* grid-template-rows: auto auto auto; */
    }

    .masthead {
      grid-row: 1;
      grid-column: span 3;
    }

    .footer {
      grid-row: 3;
      grid-column: span 3;
    }

    .main-content-container {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    /*
    .sidebar {
      grid-row: 2;
      grid-column: 3;
    }
    */
  }
}

@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .blog-content {
      display: grid;
      grid-template-columns: minmax(auto, 57em) minmax(auto, 8em);
      grid-template-rows: auto;
    }

    .main-blog-content {
      grid-row: 1;
      grid-column: 1;
    }

    .sidebar {
      grid-row: 1;
      grid-column: 2;
    }
  }
}

.highlight {
  font-size: 0.9em;
}
