@import url("base.css");

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.site {
  background: #dddddd;
  min-height: 100vh;
}

.masthead,
.main-content,
.sidebar,
.twin,
.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.main-content {
  background: white;
}

.masthead, .footer {
  background: rgb(138, 33, 33);
  color: white;
}

@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .masthead {
      display: grid;
      /* grid-template-columns: 75% auto; */
      grid-template-columns: minmax(auto, auto) minmax(auto, 15em);
      grid-template-rows: auto auto;
    }
  }
}

.masthead .site-title {
  font-size: 2.5em;
  text-decoration: none;
  border: none;
  margin-top: 0;
  margin-bottom: 0.25em;
  grid-row: 1;
  grid-column: 1;
}

.masthead .site-title a:hover {
  text-decoration: none;
}

.masthead .site-description {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  border: none;
  margin-top: 0;
  margin-bottom: 0.25em;
  grid-row: 2;
  grid-column: 1;
}

.masthead a {
  text-decoration: none;
}

.masthead a:hover {
  text-decoration: underline;
}

.masthead li {
  display: inline;
  padding-right: 1em;
}

.masthead li:last-of-type {
  padding-right: 0;
}

.masthead .site-nav {
  margin-left: auto;
  margin-right: 0;
  grid-row: span 2;
  grid-column: 2;
}

.masthead .site-nav ul {
  margin: 0;
}

.sidebar {
  background: #f9f9f9;
}

.footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer aside ul {
  margin: 0;
}

.footer aside ul li {
  display: inline;
  padding-right: 1em;
}

.footer aside ul li:last-of-type {
  padding-right: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 700px;
}

.post-header .title {
  color: rgb(121, 9, 9);
  margin-top: 0.5em;
  font-size: 2.5em;
}

.post-header .sub-title {
  color: rgb(116, 109, 108);
  font-size: 1em;
  text-decoration: none;
  border: none;
}

.post-header .date {
  color: rgb(116, 109, 108);
  font-size: .75em;
  text-decoration: none;
  border: none;
  margin-bottom: 2em;
}

.post-body li {
  list-style-position: outside;
  margin-left: 2em;
}

.post-body h1 {
  font-size: 1.5em;
}

.post-body h2 {
  font-size: 1.25em;
}

.post-body h3 {
  font-size: 1em;
}

.featured-image-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.featured-image-container a {
  display: block;
  margin: auto;
  width: max-content;
}

.sql-result-table thead {
  background: #a09d9d;
  padding: 0.25em;
}

.sql-result-table th {
  padding: 0.25em;
}

.sql-result-table tr:nth-child(even) {
  background: #ededed;
}

.sql-result-table td {
  padding: 0.25em;
}

.blog-post-list-item {
  display: grid;
  grid-template-columns: 130px auto;
  grid-template-rows: auto auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(128, 128, 128, 0.2);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style-type: none;
}

.blog-post-list-item .date {
  grid-row: span 2;
  grid-column: 1;
  margin: 0;
  font-family: monospace;
}

.blog-post-list-item a {
  /* margin: 1em; */
  text-decoration: none;
}

.blog-post-list-item .title {
  grid-row: 1;
  grid-column: 2;
  /* margin: 1em; */
  color: rgb(138, 33, 33);
}

.blog-post-list-item .sub-title {
  grid-row: 2;
  grid-column: 2;
  font-size: 0.85em;
  /* margin: 1em; */
  /* color: rgb(138, 33, 33); */
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .site {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/


@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .site {
      display: grid;
      grid-template-columns: auto minmax(auto, 50em) minmax(auto, 10em) auto;
      /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
      grid-template-rows: 7em auto 2.5em;
      /* grid-template-rows: auto auto auto; */
    }

    .masthead {
      grid-row: 1;
      grid-column: span 4;
    }

    .footer {
      grid-row: 3;
      grid-column: span 4;
    }

    .main-content {
      grid-row: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .sidebar {
      grid-row: 2;
      grid-column: 3;
    }
  }
}
