body {
  font-size: 1rem;
}

h1 {
  font-size: 1rem;
  width: 24rem;
  text-align: center;
}

/*
label {
  justify-self: end;
}
*/

/*
input {
  justify-self: end;
  width: 100%;
}
*/

#form-group {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 5rem 17rem;
  gap: 10px;
  align-items: center;
}

#form-group #instructions {
  grid-column: span 2;
  align-items: left;
}

#solutions-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

#solutions-list {
  padding-left: 10px;
  border: 1px solid #ccc;
  min-height: 50px;
  width: 22rem;
}

.solutions-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}