---
layout: default
---

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="post-header">
  <div class="title">{{ page.title }}</div>
  <div class="sub-title">{{ page.sub_title }}</div>
  <div class="date">{{ page.date | date_to_string }}</div>
</div>

<img src="{{ page.featured_image }}"
     class="center-image"
     alt="{{ page.featured_image_alt_text }}"
     title="{{ page.featured_image_title }}" />

<div class="post-body">
  {{ content }}
</div>