<!DOCTYPE html>
<html>

<!--
{% if site.tags != "" %}
  {% include collect_tags.html %}
{% endif %}
-->

<head>
  <title>{{ page.title }}</title>

  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <!-- link to code syntax highlighting stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/syntax-github.css">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  {% if page.jquery == 1 %}
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
					integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
					crossorigin="anonymous"></script>
  {% endif %}
  
  {% if page.script_src %}
  <script src="{{ page.script_src }}"></script>
  {% endif %}

  {% if page.script_ready_eval_string %}
  <script>
    $(document).ready(function() {
      eval(`{{ page.script_ready_eval_string }}`);
    });
  </script>
  {% endif %}

  {% if page.style_src %}
  <link rel="stylesheet" type="text/css" href="{{ page.style_src }}">
  {% endif %}

  <!-- make all links open in a new tab unless they explictly specify a target -->
  <base target="_blank">
</head>

<body>
  <div class="site">

    {% include masthead.html %}

    <main id="content" class="main-content-container">
      {{ content }}
    </main>

    {% include footer.html %}

  </div>
</body>
</html>
